BasedOnStyle: LLVM
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true              # Allman
  AfterControlStatement: false     # K&R
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false

AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false

SpaceBeforeParens: ControlStatements

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true